{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <p>I am Neeraj Singh. I am pursuing my B.Tech in Electrical Engineering from IIT Bhubaneswar. I am the General Secretary of Science and Technolgy in my college.
Being general secretary I used to supervise and coordinate all activates related to my council. I also take care of the proper allocation of resources and funds to the clubs and hobby groups under the council and keeping updates on their practice as well.
I have been participating in some hackathon, online coding competition and reading blogs in my spare time as these are the way to enhance my development skills.
I am looking now to become an employee of one of the most customer-centric company in the world and use my skills for the betterment of the common people.
I am a big fan of Sachin Tendulkar loves to watch and play cricket.
Contact Details:
Email: ns28@iitbbs.ac.in
Phone: 8004789080, 9668617972</p>
{% endblock %}
